{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Keine</span> <span class="smaller">Inspiration</span></h1>
  <p class="lead">Nicht Passendes an dieser Stelle gefunden
  (<span class="font-semi-bold">404</span>).</p>
   <hr/>
</div>
{% endblock content %}
