{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>
    <span class="font-semi-bold">FAQ</span>
  </h1>
  <div class="mw9 center ph3-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
	<div class="pv4">
	  <img class="w20"
	       src="{{request.static_url('h18e:static/intro.jpg') }}" alt="Intro">
	</div>
      </div>
      <div class="fl w-100 w-50-ns pa2">
	<div class="pv4">

	  <p class="lead pa4 tc">
	    <span class="font-semi-bold">Wer hat's erfunden?</span><br/>
	    Dieses Projekt entstand als Ergebnis eines mehrtägigen »Brainstromings«
	    zum Hackathon 2021 »wirfürschule«. Beteiligt waren:
	  </p>
	  <div class="tc">
	    <ul class="list tl pl6">
	      <li>- Herta</li>
	      <li>- Renate</li>
	      <li>- Salome</li>
	      <li>- Elisabeth</li>
	      <li>- Michael</li>
	      <li>- Peter</li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
	<div class="fl w-100 w-third-ns pa2">
	  <div class="pv4">

	    <p class="lead pa4">
	      <span class="font-semi-bold">Warum der Name</span><br/>
	      Wenn Du jemand auf auf diese Seite aufmerksam machen möchtest,
	      kannst du eine Kurzversion des Links verwenden:
	      https://h18e.methopedia.eu. Die Anzahl der Buchstaben, die wir von "Hilfe, ich habe eine Idee!"
	      entfernt haben, beträgt genau 18 und erleichtert die Eingabe.
	    </p>
	  </div>
	</div>
	<div class="fl w-100 w-third-ns pa2">
	  <div class="  pv4">

	    <p class="lead pa4">
	      <span class="font-semi-bold">Kann ich einen eigenen Impuls einreichen?</span><br/>

	      Ja, wir wollen positive Erfahrungen und Tipps sammeln und zum
	      Nachahmen einladen. Eine E-Mail-Adresse wird zu einem späteren Zeitpunkt,
	      nach Abschluss des diesjährigen WirfürSchule-Events an dieser Stelle zu finden sein.
	      Neue Beiträge und  die Rahmenbedingungen werden dann ebenfalls veröffentlicht
	      (Bitte noch etwas Geduld).
	    </p>
	  </div>
	</div>
	<div class="  pv4">
          <p class="lead pt4">
            <span class="font-semi-bold">Wo finde ich Informationen zum Projekt?</span><br/>
            Die Projektbeschreibung und Hintergrundinformationen sind auf der folgenden Seite zu finden:
          </p>
          <p>
            <a href="https://devpost.com/software/hilfe-ich-habe-eine-idee">
              https://devpost.com/software/hilfe-ich-habe-eine-idee
            </a>
          </p>
          <p>
            Eine lokale Instanz kann von »GitLab« bezogen werden:
          </p>
          <p class="dib pa2 bg-light-silver black">
            git clone https://gitlab.com/methopedia/h18e.git
          </p>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block links %}
<a class="link dim white f6 f5-ns dib mr3" href="/about" title="Home">Wer hat's erfunden?</a>
<a class="link dim white f6 f5-ns dib mr3" href="/lizenz" title="Store">Lizenz</a>
<br />
<a class="link dim white f6 f5-ns dib mr3" href="https://trypyramid.com/" title="About">Made with »Pyramid« </a>

{% endblock links %}
