<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hilfe, ich habe eine Idee!">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('h18e:static/birne.png')}}">

    <title>Hilfe, ich habe eine Idee!</title>
    <link href="{{request.static_url('h18e:static/tachyons.min.css')}}" rel="stylesheet">
    <link href="{{request.static_url('h18e:static/theme.css')}}" rel="stylesheet">
  </head>

  <body>
    <nav class="db dt-l w-100 border-box pa3 ph5-l shadow-5">
      <div class="db dtc-l tc v-mid w-100 w-75 tl">
      <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l"
	 href="/"
	 title="Home">
	<img class="w20"
	     src="{{request.static_url('h18e:static/birne.png')}}"
	     alt="Hilfe ich hab eine Idee">
      </a>
	<a class="dtc-l v-mid black bold f1 link dim w-80"
	   href="/" title="Home">Hilfe, ich  habe eine Idee!</a>
      </div>
    </nav>
    
    <div class="pa2">
      <div class="container">
        <div class="row">
          <div class="tc">
            {% block content %}
                <p>No content</p>
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
   <nav class="pa3 pa4-ns">
      <div class="tc pb3">
        {% block links %}
	<a class="link dim white f6 f5-ns dib mr3" href="/about" title="Home">Wer hat's erfunden?</a>
	<a class="link dim white f6 f5-ns dib mr3" href="/lizenz" title="Store">Lizenz</a>
	<br/>
	<a class="link dim white f6 f5-ns dib mr3" href="https://trypyramid.com/" title="About">Made with »Pyramid«</a>

        {% endblock links %}
  </div>
</nav>

  </body>
</html>
