{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="mw9 ph3-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-third-ns pa2">
	<div class="pv4"></div>
      </div>
      <div class="fl w-100 w-third-ns pa2">
	<div class="pv4">
	  <h1>
	    <span class="font-semi-bold">Lizenz</span></h1>
	  <link rel="shortcut icon" href="{{request.static_url('h18e:static/pyramid-16x16.png')}}">
	  <img alt="_images/CC-BY.png" src="{{request.static_url('h18e:static/CC-BY.png')}}" />
	  <img alt="_images/oer-logo.png" src="{{request.static_url('h18e:static/oer-logo.png')}}" />
	  <p>
	    Die OER-Lizenz bedeutet, dass mit den Inhalten folgende Aktionen
	    ungefragt durchgeführt werden dürfen:
	  <ul class="list pl0 tl pl5">
	    <li>- verwenden</li>
	    <li>- verändern</li>
	    <li>- mit anderen Inhalten neu vermischen</li>
	  </ul>
	  </p>

	  <p>Es gelten auch die Regeln der Creative Commons Lizenz:</p>
	  <p>Sollten diese Lizenzen immer noch für Unsicherheiten bezüglich der
	    Nutzung hervorrufen, erkläre ich hiermit einen Nichtangriffspackt und
	    verzichte auf alle rechtlichen Mittel, da es nichts durchzusetzen
	    gibt.</p>
	  <h2>
	    Wie Komme ich an den Quellcode?
	    <a class="headerlink" href="#wie-komme-ich-an-den-quellcode" title="Link zu dieser Überschrift"></a>
	  </h2>
	  <p>
	    Der Quellcode steht unter folgender URL
	    zur Verfügung: <br /><br />
	    <span class="dib pa2 bg-light-silver black">
	      git clone https://gitlab.com/methopedia/h18e.git
	    </span>
	  </p>
	</div>
      </div>
      <div class="fl w-100 w-third-ns pa2">
	<div class="pv4"></div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}


{% block links %}
<a class="link dim white f6 f5-ns dib mr3" href="/about" title="Home">Wer hat's erfunden?</a>
<a class="link dim white f6 f5-ns dib mr3" href="/lizenz" title="Store">Lizenz</a>
<br />
<a class="link dim white f6 f5-ns dib mr3" href="https://trypyramid.com/" title="About">Made with »Pyramid« </a>

{% endblock links %}
