{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h2>
    <span class="f2">Impuls der {{ week }}. Woche</span>
  </h2>
  <div class="tc">
    <p>{{qrimage | safe}}</p>
  </div>
  <p><a href="{{ link }}">Link</a></p>
  <p>Die nächste Inspiration kann ab dem <br />
    <span class="f2">{{next}}</span> <br />
    abgerufen werden.
  </p>
</div>
{% endblock content %}
