{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>
  <span class="font-semi-bold">Impuls der {{week}}. Woche</span>
  </h1>
  <p>
  <img class="mw-50" src="{{request.static_url('h18e:static/proj/')}}{{project}}.png">
 </p>
</div>
{% endblock content %}

{% block links %}
<a class="link dim white f6 f5-ns dib mr3" href="/about" title="Home">Wer hat's erfunden?</a>
<a class="link dim white f6 f5-ns dib mr3" href="/lizenz" title="Store">Lizenz</a>
<br />
<a class="link dim white f6 f5-ns dib mr3" href="https://trypyramid.com/" title="About">Made with »Pyramid« </a>
{% endblock links %}
